.procedure{
    max-width: 1200px;
    margin: 100px auto;
}
.pro-img:hover{
    filter: invert(0%) sepia(100%) saturate(50%) hue-rotate(100deg) brightness(100%) contrast(100%);
}
.procedure_inner{
    min-width: 210px;
    max-width: 210px;
}
.procedure h5{
    font-weight: 700 !important;
    font-size: 19px !important;
    line-height: 18.98px !important;
    color: #1b1b1b !important;
}
.procedure p{
    font-weight: 400 !important;
    font-size: 12.67px !important;
    line-height: 16.14px !important;
}

@media (max-width: 991px){
    .procedure_inner{
        min-width: 150px;
        max-width: 150px;
    }
    .pro-img:hover{
        filter: unset;
    }
}