.aboutMainBanner{
    background-color: #CE0E2D;
    height: 400px;
}
.aboutMainBanner>div{
    max-width: 1200px;
}
.aboutMainBanner h1{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 4.3rem;
}
.aboutMainBanner p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.aboutMainBanner button{
    font-weight: 700 !important;
    font-size: 16px !important;
}
.aboutMainBanner button:hover{
    color: #CE0E2D !important;
}
.aboutMainBanner span{
    color: #CE0E2D !important;
}
.aboutBannerLeft{
    max-width: 500px;
}
@media (max-width: 991px){
    .aboutMainBanner{
        height: auto;
    }
    .aboutBannerLeft{
        text-align: center;
    }
    .aboutMainBanner h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
}
