.contactMainBanner{
    background-color: #CE0E2D;
    height: 400px;
}
.contactMainBanner>div{
    max-width: 1200px;
}
.contactMainBanner h1{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 4.3rem;
}
.contactMainBanner p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.contactMainBanner button{
    font-weight: 700 !important;
    font-size: 16px !important;
}
.contactMainBanner button:hover{
    color: #CE0E2D !important;
}
.contactMainBanner span{
    color: #CE0E2D !important;
}
.contactBannerLeft{
    max-width: 500px;
}
@media (max-width: 991px){
    .contactMainBanner{
        height: auto;
    }
    .contactBannerLeft{
        text-align: center;
    }
    .contactMainBanner h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
}
