.servicesMainBanner{
    background-color: #CE0E2D;
    height: 400px;
}
.servicesMainBanner>div{
    max-width: 1200px;
}
.servicesMainBanner h1{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 4.3rem;
}
.servicesMainBanner p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.servicesMainBanner button{
    font-weight: 700 !important;
    font-size: 16px !important;
}
.servicesMainBanner button:hover{
    color: #CE0E2D !important;
}
.servicesMainBanner span{
    color: #CE0E2D !important;
}
.servicesBannerLeft{
    max-width: 650px;
}
@media (max-width: 991px){
    .servicesMainBanner{
        height: auto;
    }
    .servicesBannerLeft{
        text-align: center;
    }
    .servicesMainBanner h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
}
