.service01-Sec02 {
    max-width: 1200px;
    margin: 100px auto;
}
.service01-Sec02>div>div {
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      white,
      #ce0e2e38,
      #CE0E2D, 
      #ce0e2e38,
      white
    )2;
}
.service01-Sec02>div>div:first-child {
    border-left-width: 2px;
}
.service01-Sec02>div>div:last-child {
    border-right-width: 2px;
}
.service01-Sec02>div>div>div{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.service01-Sec02>div>div>div:hover{
    top: -10px;
    background: linear-gradient(
    white,
    #ce0e2e0b,
    white);
}
.service01-Sec02 h4 {
    font-weight: 700 !important;
    font-size: 24px !important;
    color: #1b1b1b !important;
}

.service01-Sec02 p {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #1b1b1b !important;

}

.service01-Sec02 .nav-link {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #CE0E2D !important;

}
.bottom-pink{
    border: 1px solid white !important;
}
.bottom-pink:hover{
    border-bottom: 1px solid #CE0E2D !important;
    transition: 0.5s all;
}
@media (max-width: 991px) {
    .service01-Sec02 {
        max-width: 500px;
    }
    .service01-Sec02>div>div:first-child {
        border-left-width: 1px;
    }
    .service01-Sec02>div>div:last-child {
        border-right-width: 1px;
    }
}