.polygon-grid{
    max-width: 1200px;
}
.polygon_desktop{
    margin-top: 100px;
}
.MS_label{
    /* color: #F0183B;
    text-align: center;
    box-shadow: 0 0 4px 0px black;
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.text-slider{
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #636363 !important;
}
@media (max-width: 991px) {
}




.carousel-item {
    transition: transform 0.6s ease-in-out !important;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: block !important;
  }

  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0) !important;
  }

  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0) rotate(-10deg) !important;
  }

  .carousel-item-left {
    transform: translateX(-100%) rotate(10deg) !important;
  }

  .carousel-item-right {
    transform: translateX(100%) rotate(-10deg) !important;
  }