.res_partners_div{
    max-width: 1200px;
}
.res_partners_div .box{
    height: 150px;
}
.res_partners_div h3{
    font-size: 20px !important;
    font-weight: 700 !important;
}
.res_partners_div p{
    font-size: 13px !important;
    font-weight: 400 !important;
}