.get-con-sec {
    max-width: 1600px;
    margin-bottom: 100px;
}

.get-con-sec h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: #1b1b1b !important;
}

.get-con-sec h1 span {
    color: #CE0E2D !important;
}

.get-con-item {
    height: 310px;
    width: 100%;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.get-con-item:hover{
    border-radius: 30px;    
}
.get-con-item .bg-1b {
    background-color: #1b1b1b !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    width: 145px;
}

.get-con-item .bg-1b:hover {
    background-color: rgb(242, 242, 242) !important;
    color: #1b1b1b !important;
}

.get-con-item .bg-1b:hover img {
    filter: invert(100%);
}
@media (max-width: 991px) {
    .get-con-sec {
        margin-bottom: 50px;
    }
    .get-con-sec h1 {
        font-size: 28px !important;
    }
    .get-con-item {
        min-height: 210px;
        height: 100%;
        background-position: top;
    }
    .get-con-item .bg-1b {
        font-size: 11px !important;
        width: max-content;
    }
    .get-con-item .bg-1b img{
        width: 14px;
        height: 14px;
    }
}

/* .active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-50%) !important;
}
.active.carousel-item-end, .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(50%) !important;
} */