.map-location{
    max-width: 1200px;
}
.map-location>div{
    border: 1.4px solid #1b1b1b !important;
}
.map-location h5{
    color: #C71002;
    font-weight: 700 !important;
    font-size: 18px !important;
}
.map-location  span{
    color: #CE0E2D !important;
}
.map-location  h4{
    font-weight: 700 !important;
    font-size: 36px !important;
}
.map-location  p{
    font-weight: 400 !important;
    font-size: 16px !important;
}
.map-location  .btn{
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'GothamLight' !important;
}
.location-info {
    max-width: 500px;
}
.w-custom{
    width: 50%;
}
@media (max-width: 991px) {
    .w-custom{
        width: 100%;
    }
    .location-info {
        max-width: fit-content;
    }
    .map-location>div{
        border: none !important
    }
    .map-location  h4{
        font-size: 28px !important;
    }
    .map-location  p{
        font-size: 18px !important;
    }
}