.privacySection_1 {
    background-color: #CE0E2D;
    height: 100px;
}

.privacySection_1 h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
}
.count-text h5 {
    text-decoration: underline;
    font-size: 18px !important;
    font-weight: 700 !important;
}
.count-text p, .count-text ol li{
    font-size: 15px;
}