.aboutsecondBanner{
    max-width: 1200px;
    margin: 100px 0;
}
.aboutsecondBanner>div{
    width: 50%;
}
.aboutsecondBanner .img-cont{
    width: 50%;
}
.aboutsecondBanner h1{
    font-weight: 700 !important;
    font-size: 44px !important;
    color: #1b1b1b !important;
}
.aboutsecondBanner span{
    color: #CE0E2D !important;

}
.aboutsecondBanner p{
    font-weight: 400 !important;
    font-size: 20px !important;
    max-width: 450px;
    
}
.aboutsecondBanner .p-add{
    font-weight: 900 !important;
    color: #CE0E2D !important;
}
.aboutsecondBanner button{
    font-weight: 700 !important;
    font-size: 17px !important;

}

@media (max-width: 991px) {
    .aboutsecondBanner{
        text-align: center;
    }
    .aboutsecondBanner>div{
        width: 100%;
    }
    .aboutsecondBanner .img-cont{
        width: 100%;
    }
}