.merch-sec01 {
    max-width: 1000px;
}
.merch-sec01 h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: #1b1b1b !important;
    margin: 70px 10px;
}
.merch-sec01 h2 {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #1b1b1b !important;
}

.merch-sec01 h3 {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #dd0000 !important;
}
@media (max-width: 767px) {
    .merch-sec01 .mobile-res{
        margin: auto;
    }
}