.newsMainBanner{
    background-color: #CE0E2D;
    height: 400px;
}
.newsMainBanner>div{
    max-width: 1200px;
}
.newsMainBanner h1{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 4.3rem;
}
.newsMainBanner p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.newsMainBanner button{
    font-weight: 700 !important;
    font-size: 16px !important;
}
.newsMainBanner button:hover{
    color: #CE0E2D !important;
}
.newsMainBanner span{
    color: #CE0E2D !important;
}
.newsBannerLeft{
    max-width: 500px;
}
@media (max-width: 991px){
    .newsMainBanner{
        height: auto;
    }
    .newsBannerLeft{
        text-align: center;
    }
    .newsMainBanner h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
}
