.products-sec01 {
    max-width: 1000px;
}
.products-sec01 .link{
    text-decoration: none;
}
.btn-pink {
    color: #CE0E2D !important;
}

.btn-pink:hover {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}

.products-sec01 h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: #1b1b1b !important;
    margin: 70px 10px;
}

.products-sec01 h1 span {
    color: #CE0E2D !important;
}

.products-sec01 h3 {
    font-size: 30px !important;
    font-weight: 700 !important;
    color: #1b1b1b !important;
    margin-bottom: 100px;
}

.products-sec01 p {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #1b1b1b !important;
}

.products-sec01 h1 span {
    color: #CE0E2D !important;
}

.products-sec01 .btn-pink {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.product-box {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border: 3px solid black;
    border-radius: 68px;
    /* margin-top: -170px;
    padding-top: 170px; */
    overflow: hidden;
}

.product-box:hover {
    /* filter: invert(0%) sepia(100%) saturate(50%) hue-rotate(100deg) brightness(100%) contrast(100%); */
    top: -10px;
}

.product-img{
    
}
.product-info{
    min-height: 130px !important;
}
@media (max-width: 767px) {
    .mobile-res{
        max-width: 350px !important;
    }
}