.bg-solid-pink{
    background-color: #CE0E2D !important;
}
.box-des-slider{
    margin-left: 10%;
    margin-right: 20%;
}
.box-des-slider h2{
    /* font-weight: 700 !important; */
    font-size: 40px !important;
}
.box-des-slider p{
    font-weight: 400 !important;
    font-size: 18px !important;
}
.box-des-slider .btn{
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'GothamLight' !important;
}
.box-des-slider .btn:hover{
    color: #CE0E2D !important;
}
.carousel-indicators [data-bs-target] {
    background-color: #9C9C9C !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}
.carousel-indicators .active {
    background-color: #CE0E2D !important;
    width: 25px !important;
    border-radius: 20%/50% !important;
}
.slide_mobile{
    display: none;
}
.carousalCaption{
    top: 0 !important;
    right: 0 !important;
    left: unset !important;
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1 !important;
    width: 65px !important;
    height: 65px !important;
    position: absolute !important;
    top: 38% !important;
    border-radius: 50% !important;
    overflow: hidden !important;
}
.carousel-control-prev{
    left: 30px !important;
}
.carousel-control-next{
    right: 30px !important;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    filter: invert(15%);
}
@media (max-width: 991px) {
    .carousalCaption{
        position: static !important;
        height: 250px !important;
    }
    .slide_desktop{
        display: none;
    }
    .slide_mobile{
        display: block;
    }
    .box-des-slider{
        max-width: unset;
    }
    .box-des-slider h2{
        font-size: 20px !important;
    }
    .box-des-slider p{
        font-size: 14px !important;
    }
    .box-des-slider button.btn-pink{
        font-size: 12px !important;
        border-color: #CE0E2D;
        color: #CE0E2D;
    }
}
.b{
    border: 2px solid red;
}