.chainOutletsSec{
    max-width: 1200px;
    margin: 100px auto;
}
.chainOutletsSec h2{
    font-weight: 700px !important;
    font-size: 38px !important;
    color: #1b1b1b !important;
}
.chainOutletsSec span{
    color:  #CE0E2D !important;
}
.chainOutletsSec p{
    font-weight: 400 !important;
    font-size: 20px !important;
}
.chainOutletsSec .sec-break{
    height: 2px;
    min-width: 200px;
    max-width: 300px;
    margin-top: 60px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23CE0E2DFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='5' stroke-linecap='butt'/%3e%3c/svg%3e");

}

.chainImg:hover{
    filter: invert(0%) sepia(100%) saturate(50%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

@media (max-width: 991px) {
    .chainImg:hover{
        filter: unset;
    }
}