.fuel_main_div{
    max-width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.fuel_main_div h3{
    font-size: 22px !important;
    font-weight: 700 !important;
}
.fuel_main_div p{
    font-size: 18px !important;
    font-weight: 400 !important;
}
.for_border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D41F3BFF' stroke-width='16' stroke-dasharray='6%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 2px;
    left: 120px;
    height: calc(100% - 100px);
    z-index: -1;
}
.for_border_in{
    display: none;
}
@media (max-width: 991px) {
    .for_border {
        display: none;
    }
    .for_border_in{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D41F3BFF' stroke-width='16' stroke-dasharray='6%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        width: 2px;  
        height: 60px;
        display: block
    }
}