.service01-Sec04{
    max-width: 1200px;
    margin: 100px auto;
}
.service01-Sec04 h1{
    font-weight: 700 !important;
    font-size: 40px !important;
    color: #1b1b1b !important;
}
.service01-Sec04 h3{
    font-weight: 700 !important;
    font-size: 28px !important;
    color: #1b1b1b !important;
}
.service01-Sec04 p{    
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #1b1b1b !important;
}
.explorePromotions p{    
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #1b1b1b !important;
}
.explorePromotions .nav-link {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #CE0E2D !important;

}
.bottom-pink{
    border: 1px solid white !important;
}
.bottom-pink:hover{
    border-bottom: 1px solid #CE0E2D !important;
    transition: 0.5s all;
}
@media (max-width: 991px) {
    .service01-Sec04{
        text-align: center;
    }
}