.bg-footer {
    background-image: url("/src/assets/bg-footer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 95px;
}

.bg-footer input {
    width: 500px;
    border: 0;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    font-family: 'GothamLight' !important;
}

.bg-footer input::placeholder {
    color: white;
}
.p-lower-footer .nav-link{
    font-family: 'GothamLight' !important;
}
.locationIcon {
    margin-right: -35px;
}

.arrowRight {
    margin-left: -35px;
}

.bg-lower-footer {
    background-color: #1B1B1B;
}

.p-lower-footer {
    padding: 50px;
    max-width: 1600px;
    margin: auto;
}

.w-lower-footer {
    max-width: 1100px;
}

.footerLogo {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border-radius: 24%;
}

.footerLogo:hover {
    filter: invert(100%);
}

@media (max-width: 991px) {
    .bg-footer input {
        width: 100%;
        max-width: 400px;
    }

    .p-lower-footer {
        padding: 30px 10px;
        justify-content: center;
    }
    .widthFooterResponsive>div{
        max-width: 500px;
    }
}
/* Footer Map Locator */

.map-div-footer{
    top: 65px;
    width: 500px;
}
.map-div-footer>div{
    max-height: 300px;
    width: 100%;
}