.location-bg{
    background-image: url("../../../../assets//Home/location_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin: 80px 0 50px 0;
}
.location-bg>div{
    max-width: 1050px;
}
.location-bg>div h1{
    max-width: 427px;
    font-size: 42px !important;
    font-weight: 700 !important;
}
.location-bg>div .btn{
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'GothamLight' !important;
}
.location-bg>div .btn:hover{
    color: #CE0E2D !important;
}
.handshakeimg{
    display: none;
}
@media (max-width: 991px) {
    .location-bg{
        background-image: url("../../../../assets/Home/location_bg_mobile.svg");
        height: 400px;
        margin-top: 50px;
    }
    .location-bg>div h1{
        text-align: center;
        font-size: 32px !important;
    }
    .handshakeimg{
        display: block;
    }
}