.sec_main_h{
    font-size: 40px !important;
    font-weight: 700 !important;
}
.sec_main_h span{
    color: #CE0E2D !important;
}
.services_partners_banner{
    max-width: 1200px;
    margin: 80px 0;
}
.services_partners_banner>div{
    width: 50%;
}
.services_partners_banner .img-cont{
    width: 50%;
}
.services_partners_banner h1{
    font-weight: 700 !important;
    font-size: 44px !important;
    color: #1b1b1b !important;
}
.services_partners_banner span{
    color: #CE0E2D !important;

}
.services_partners_banner p{
    font-weight: 400 !important;
    font-size: 20px !important;
    max-width: 450px;
    
}
.services_partners_banner button{
    font-weight: 700 !important;
    font-size: 17px !important;

}
.services_partners_banner p.p-bold{
    font-weight: 900 !important;
}
.services_partners_banner p.p-add{
    font-weight: 900 !important;
    color: #CE0E2D !important;
}
@media (max-width: 991px) {
    .services_partners_banner{
        text-align: center;
    }
    .services_partners_banner>div{
        width: 100%;
    }
    .services_partners_banner .img-cont{
        width: 100%;
    }
}