.careersMainBanner{
    background-color: #CE0E2D;
    height: 400px;
}
.careersMainBanner>div{
    max-width: 1200px;
}
.careersMainBanner h1{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 4.3rem;
}
.careersMainBanner p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.careersMainBanner button{
    font-weight: 700 !important;
    font-size: 16px !important;
}
.careersMainBanner button:hover{
    color: #CE0E2D !important;
}
.careersMainBanner span{
    color: #CE0E2D !important;
}
.careersBannerLeft{
    max-width: 500px;
}
@media (max-width: 991px){
    .careersMainBanner{
        height: auto;
    }
    .careersBannerLeft{
        text-align: center;
    }
    .careersMainBanner h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
}
