.serviceBanner{
    max-width: 1200px;
    margin: 100px 0;
}
.serviceBanner>div{
    width: 50%;
}
.serviceBanner .img-cont{
    width: 50%;
}
.serviceBanner h1{
    font-weight: 700 !important;
    font-size: 44px !important;
    color: #1b1b1b !important;
}
.serviceBanner span{
    color: #CE0E2D !important;

}
.serviceBanner p{
    font-weight: 400 !important;
    font-size: 20px !important;
    max-width: 450px;
    
}
.serviceBanner button{
    font-weight: 700 !important;
    font-size: 17px !important;

}

@media (max-width: 991px) {
    .serviceBanner{
        text-align: center;
    }
    .serviceBanner>div{
        width: 100%;
    }
    .serviceBanner .img-cont{
        width: 100%;
    }
}